* {
  margin:0; padding:0;
  font-size:inherit;
  color:inherit;
  -webkit-font-smoothing: antialiased;
}
button::-moz-focus-inner {padding:0;border:0;}
a {outline:none;
  text-decoration:none;
  background-color:transparent;
  font-size:11px;
  color:#2d2a2b ;
}
img {border:none;}
html {height: 100%;}



body {
height: auto !important;
min-height: 100%;
position: relative;
background: #ffffff;
font-size:13px;
color:#575757;
    font-family: 'candara', 'Arial', sans-serif;
    font-weight: bold;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.clearfix {clear: both;}
h2, h3, a {color: #fff;}
a {font-size: 16px;}
li {list-style: none; text-transform: uppercase;}


.container {
    width: 100%;
    max-width: 960px;
    margin: auto;
}
            /*HEADER*/


.burger-check {display: none;}

.assistant {
    float: right;
    background-color: #303030;
    line-height: 25px;
    font-size: 11px;
    padding: 0 9px;
    letter-spacing: 0.5px;
}
p.sales__assistence {
    text-transform: uppercase;
    color: #949494;
}
span.number__phone {
    font-family:'Arial', sans-serif;
    color: #fff;
}

ul.menu {
    margin-top: -30px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*.menu li {margin-right: 30px;}*/
li.product, li.support {
    margin-right: 15px;
}

li input[type=text] {
    border: 2px solid #444;
    outline: none;
    padding: 5px;
    background-image: url("../images/confirmation.png");
    background-repeat: no-repeat;
    background-position: 150px;
    background-color: #000;
    margin-right: 18px;
    /*display: inline-block;*/
}
li a.ask{margin-right: 9px;}
            /*Header*/

            /*SECTION Сarousel*/
.owl-carousel .owl-item {
    margin-top: 30px;
}

.owl-theme .owl-nav [class*=owl-]{display: none;} /*buttonS*/
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #848484;
}
.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    background: #ccc;
    transition: opacity .2s ease;
    border-radius: 0;
    position: relative;
}

.owl-dots {
    position: absolute;
    right: 15px;
    top: 45px;
}

a.b__carousel {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    margin-left: 20px;

}
            /*/section carousel*/
            /*SECTION Services*/
.column__first, .column__second, .column__third img.lamp, img.look-web {
    position: relative;
    margin-top: 20px
}
.column__first {
    float: left;
}
a img.room-button__connect {
    position: absolute;
    bottom: 19px;
    left: 20px;
}
img.discount {
    position: absolute;
    top: 237px;
    left: 0;
}

.column__second {
    float: left;
    margin-left: 19px;
    margin-top: 21px;
}

a img.button-modem {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.column__third img.lamp, img.look-web{float: right;}

            /*/section services
            /*SECTION Last MeNu*/

.bdtop {
    border-top: 1px solid #3f3f3f;
    margin-top: 10px;
    box-shadow: 3px 15px 53px 1px #FFFFFF;
    -webkit-box-shadow: 3px 15px 53px 1px #FFFFFF;
    -moz-box-shadow: 3px 15px 53px 1px #FFFFFF;
    -o-box-shadow: 3px 15px 53px 1px #FFFFFF;
}

ul.last__menu  {
    margin-top: 15px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
}
.last__menu a {
    color: #767776;
    font-size: 15px;
    font-weight: bold;
}

ul.last__menu li {margin-right: 10px;}
ul.last__menu .lang__fr {
    margin-left: 100px;
    text-transform: capitalize;
}
ul.last__menu .vertical__line{
    margin-left: 10px;
}
.last__menu .lang__esp {
    margin-left: 10px;
    text-transform: capitalize;
}
.newsletter{margin-left: 5px;}

input.email_address {
    margin-left: 15px;
    height: 25px;
    width: 200px;

}
input[type=post] {
    box-shadow:  0px 0px 5px 0px #f5eeee;
    -webkit-box-shadow: 0px 0px 5px 0px #f5eeee;
    -moz-box-shadow:  0px 0px 5px 0px #f5eeee;
    -o-box-shadow:  0px 0px 5px 0px #f5eeee;
    inset 0px 2px 20px 12px #000000
    -webkit-box-shadow: inset 0px 2px 20px 12px #000000;
    box-shadow: inset 0px 2px 20px 12px #000000;
    -moz-box-shadow: inset 0px 2px 20px 12px #000000;
    -o-box-shadow: inset 0px 2px 20px 12px #000000;
    outline: none;
    border-radius: 65px 64px 64px 64px;
    -moz-border-radius: 65px 64px 64px 64px;
    -webkit-border-radius: 65px 64px 64px 64px;
    border: 2px solid #524f52;
}

::-webkit-input-placeholder {
    color: #767776;
    font-size: 12px;
    padding-left: 12px;
    font-weight: bold;
}
::-moz-placeholder {
    color: #767776;
    font-size: 12: 12px;
    font-weight: bold;
}
:-moz-placeholder {
    color: #767776;
    font-size: 12px;
    padding-left: 12px;
    font-weight: bold;
}
:-ms-input-placeholder {
    color: #767776;
    font-size: 12px;
    padding-left: 12px;
    font-weight: bold;
}
.last__menu a:hover {
    color: #fff;
    transition: 0.8s ease;
}

            /*section last*/

            /*FOOTER*/

div.social {
    margin-top: 10px;
    font-size: 15px;
}
div.social a {
    float: right;
    margin-right: 10px;
}
span.year {
    font-family: 'Arial', sans-serif;

}




            /*///footer*/
